
.view-mc-events-by-dates .event-staring{
    float: right;
    height: 80px;
    padding-top: 22px;
}

/*
.event-staring-tooltip,#event-staring-tooltip {
    position: relative;
    background-color:#eee;
    margin: 0;
    padding:10px;
    text-align:center;
    width:200px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
    box-shadow: 0px 0 3px rgba(0,0,0,0.25);
}

.event-staring-tooltip:after,#event-staring-tooltip:after {
    position: absolute;
    display: block;
    content: '';
    border-color: #eee transparent transparent transparent;
    border-style: solid;
    border-width: 10px;
    height:0;
    width:0;
    position:absolute;
    bottom:-19px;
    left:1em;
}

.event-staring-tooltip,#event-staring-tooltip {
    margin-bottom: 10px;
    border: 1px solid #F7F2E4;
    background: #F7F7F7;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border-color: #FED064;
    behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
    border-color: #FED064;
    width:120px;
    padding:5px 10px;;
    color: #333;
    display: none;
}
*/

.view-mc-events-by-dates .flag-events-bookmarks{
    display: block;
    width: 16px;
    height: 16px;
    line-height: 32px;
    overflow: hidden;
}

.view-mc-events-by-dates .flag-events-bookmarks a{
    display: block;
    position: relative;
    text-indent: -1999px;
    background-repeat: no-repeat;
    line-height: 16px;
}

.flag-events-bookmarks .flag-throbber{
    display: none;
}

.flag-events-bookmarks a{
    background-repeat: no-repeat;
    padding-left: 20px;
}

.flag-events-bookmarks.flag-waiting a {
    opacity: 1;
    filter: alpha(opacity=100); /* IE */
}

.flag-events-bookmarks a.flag-action,
.flag-events-bookmarks.flag-waiting a.unflag-action{
    background-image: url("../images/icons/ico-star-default.png");
}

.flag-events-bookmarks a:hover{
    background-image: url("../images/icons/ico-star-hover.png");
}

.flag-events-bookmarks a.unflag-action,
.flag-events-bookmarks.flag-waiting a.flag-action,
.flag-events-bookmarks a.unflag-action :hover,
.flag-events-bookmarks.flag-waiting a.flag-action :hover
{
    background-image: url("../images/icons/ico-star-active.png");
}

.two-cols .view-header,.two-cols .event-separator{
    display: none;
}

.two-cols .col-main{
    width: 630px;
    float: left;
}

.two-cols .col-right{
    float: right;
    width: 220px;
}

.two-cols .col-right .user_addcal{
    margin-bottom: 10px;
    border: 1px solid #E4E4E4;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
    padding: 10px;
}

.two-cols .col-right .user_addcal ul li{
    margin-bottom: 10px;
}

.two-cols .col-right .user_addcal ul li:last-child{
    margin-bottom: 0px;
}

/*
overide the .quicktabs_tabpage .block .block-title hiding block titles at the user page (specifically for my events).
*/
.page-user .quicktabs_tabpage .block .block-title{
    display: block;
}

.page-user .quicktabs_tabpage .block .block-title h3{
    font-size: 17px !important;
}

.page-user .flag-events-bookmarks a.unflag-action,
.page-user .flag-events-bookmarks a:active,
.page-user .flag-events-bookmarks.flag-waiting a.flag-action{
    background-image: url("../images/icons/ico-delete-default.png");
}

.page-user .flag-events-bookmarks a:hover{
    background-image: url("../images/icons/ico-delete.png");
}

.page-user #page .block-content .block-content{
    margin: 5px;
}
