.view-mc-events-by-dates .flag-events-bookmarks{
    float: right;
}

.flag-events-bookmarks{
    display: block;
    width: 16px;
    height: 16px;
    line-height: 32px;
    overflow: hidden;
}

.flag-events-bookmarks a{
    display: block;
    text-indent: -1999px;
}

.flag-events-bookmarks a.flag-action{
    background-image: url("../images/icons/ico-star-default.png");
}

.flag-events-bookmarks a.unflag-action,a:hover{
    background-image: url("../images/icons/ico-star-active.png");
}