/*******************************************************************************

	CSS on Sails Framework
	Title: GetHealthyHarlem
	Author: XHTMLized (http://www.xhtmlized.com/)
	Date: February 2011

********************************************************************************

	1. BASE
		1.1 Reset
		1.2 Accessibility Navigation & Hide
		1.3 Clearfix
		1.4 Default Styles

	2. COMMON

	3. PAGES

*******************************************************************************/


/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/


/* 1.1 Reset (using drupal theme reset )
------------------------------------------------------------------------------*/


/* 1.2 Accessibility Navigation & Hide
------------------------------------------------------------------------------*/

.hide {
	position: absolute;
	top: -999em;
	left: -999em;
	height: 1px;
	width: 1px;
}


/* 1.3 Clearfix
------------------------------------------------------------------------------*/

#header .block-user ul:after,
#featured .pane:after,
#footer .menu:after,
#sitemap:after,
.item-block:after,
.more-link:after,
.clearfix:after,
form ul:after,
#sitemap li:after,
#page .block-quicktabs .block-content .block-title:after,
#page .view .view-content .odd:after, #page .view .view-content .even:after,
.view-popular-places .views-row:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}


/* 1.4 Default Styles
------------------------------------------------------------------------------*/

body {
	background: url(../images/common/bg-body.png) 0 0 repeat-x #fffaeb;
	color: #333;
	font: 75%/1.25 Arial, Helvetica, sans-serif;
}

hr {
	display: none;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

del {
	text-decoration: line-through;
}

th, td {
	vertical-align: top;
}

th {
	font-weight: normal;
	text-align: left;
}

address, cite, dfn {
	font-style: normal;
}

abbr, acronym {
	border-bottom: 1px dotted #999;
	cursor: help;
}

input, textarea, select {
	font-family: Arial, Helvetica, sans-serif;
}

a, a:visited {
	color: #007eff;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

/* Borders around images + fancy corner signatures */
.image {
	position: relative;
	padding: 4px;
  margin:0 20px 20px 0;
  float:left;
	border: 1px solid #d0d0d0;
	background: #fff;
}
.image img,
.views-field-field-list-image-fid img {
	display: block;
	margin: 0 auto;
}

.corner {
	display: block;
	position: absolute;
	width: 66px;
	height: 64px;
	top: -3px;
	right: -11px;
	z-index: 2;
	background: url(../images/common/misc-corner-signature.png) 0 0 no-repeat;
}
span.harlem-word {
	background-position: 0 0;
}
span.did-you-know {
	background-position: 0 -64px;
}
span.profiles-of-hope,
span.profile-of-hope {
	background-position: 0 -128px;
}
.corner-left {
	display: block;
	position: absolute;
	width: 66px;
	height: 64px;
	top: -43px;
	left: -34px;
	z-index: 2;
	background: url(../images/common/misc-corner-signature.png) -66px 0 no-repeat;
}
span.harlem-word-l {
	background-position: -66px 0;
}
span.did-you-know-l {
	background-position: -66px -64px;
}
span.profiles-of-hope-l {
	background-position: -66px -128px;
}

/* Category links */
.category-link,
#right .item-block .category-link {
	color: #b3b3b3;
	font-size: 0.9em;
	margin: 10px 0;
}
.category-link span {
	color: #d9d9d9;
}

/* Small Icons */
.ico-small {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-top: -4px;
	vertical-align: middle;
	text-decoration: none;
	background: url(../images/common/sprite-small-icons.png) 0 0 no-repeat;
}
.ico-profile {
	background-position: 0 0;
}
.ico-fb {
	background-position: 0 -21px;
}
.ico-tw {
	background-position: 0 -42px;
}
.ico-help-orange {
	background-position: 0 -63px;
}
.ico-more-link,
.ico-see-all {
	background-position: 0 -84px;
}

.ico-prev {
	background-position: 0 -105px;
}

.ico-next {
	background-position: 0 -126px;
}

a .ico-small {
	cursor: pointer;
}

/* Tooltips */
.tooltip {
	display: none;
	width: 140px;
	padding: 20px 15px 5px;
	margin-top: 5px;
	font-size: 0.9em;
	background: transparent url(../images/common/bg-tooltip.png) no-repeat;
	color: #868686;
}

.tooltip span.b {
	display: block;
	width: 170px;
	height: 10px;
	position: absolute;
	left: 0px;
	bottom: -10px;
	background: transparent url(../images/common/bg-tooltip.png) no-repeat 0 100%;
}

/* Overlay */
.overlay {
	cursor: pointer;
}

.block-overlay {
	position: absolute;
	padding: 8px;
	background: #000;
	z-index: 9999;
}

.block-overlay .block-content {
	padding: 3px;
	background: #fff;
}

.block-overlay .block-signup {
	padding: 30px;
	width: 616px;
	color: #666666;
}

.block-overlay .block-signup h1 {
	margin-bottom: 20px;
	font-size: 2.4em;
	color: #2b2b2b;
}

.block-overlay .block-signup .why li {
	padding: 10px 0 10px 33px;
	font-size: 1.25em;
	background: url(../images/common/bullet-tick.png) 0 6px no-repeat;
}

.block-overlay .block-signup div {
	float: left;
	width: 265px;
}

.block-overlay .block-signup .why {
	width: 330px;
	border-right: 1px solid #f0f0f0;
}

.block-overlay .block-signup form {
	margin-left: 25px;
}

.block-overlay .block-signup form .form-item {
	margin: 5px 0;
	width: 280px;
}

.block-overlay .block-signup form a,
.block-overlay .block-signup form a:visited {
	color: #00a1fe;
}

.block-overlay .block-signup p {
	margin: 20px 0 0 25px;
	font-size: 0.9em;
}

.block-overlay .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 5px;
	background: #000;
}

.block-overlay .close a {
	display: block;
	width: 23px;
	height: 23px;
	background: url(../images/common/sprite-controls.png) 100% 0 no-repeat;
}

.block-overlay .title {
	position: relative;
	margin: 5px 0 5px 10px;
	min-height: 29px;
}

.block-overlay .title p {
	width: 620px;
	margin-right: 40px;
}

.block-overlay .controls {
	position: absolute;
	bottom: 0;
	right: 0;
}

.block-overlay .controls .prev,
.block-overlay .controls .next {
	position: relative;
	display: inline-block;
	width: 27px;
	height: 29px;
	margin-left: 3px;
	background: url(../images/common/sprite-controls.png) 0 -47px no-repeat;
}
.block-overlay .controls .next {
	background-position: 100% -47px;
}
        

/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

.limiter {
	position: relative;
	width: 940px;
	margin: 0 auto;
	z-index: 0;
}

#highlight {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background: url(../images/common/bg-logo-highlight.png) center top no-repeat;
	z-index: -1;
}

/* 2.1 Header
------------------------------------------------------------------------------*/

#header {
	margin-bottom: 15px;
}

#header .limiter {
	border: 1px solid #d0d0d0;
	border-top: 0;
	background: #fdfdfd url(../images/common/bg-top-links.png);
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

/* Block user */
#header .block-user ul {
	float: right;
	font-size: 0.9em;
	line-height: 2.25em;
	color: #5c5c5c;
}

#header .block-user a,
#header .block-user a:visited {
	color: #5c5c5c;
}

#header .block-user img,
#header .block-user img {
	border: 1px solid #d0d0d0;
	margin: 0 5px -3px 0;
}

#header .block-user li {
	float: left;
	padding: 0 20px;
	border-left: 1px solid #fff;
	border-right: 1px solid #d0d0d0;
}

#header .block-user li.first {
	border-left: 0;
}

#header .block-user li.last {
	border-right: 0;
}

#header .block-user .ico-small {
	float: left;
	margin-top: 0px;
}

/* 2.2 Branding
------------------------------------------------------------------------------*/

#branding {
	margin-bottom: 20px;
	position: relative;
	z-index: 5;
}

/* Site name */
#branding .site-name,
#branding .site-name a, #branding .site-name a img {
	display: block;
	width: 259px;
	height: 67px;
}

#branding .site-name {
	position: relative;
	float: left;
}

#branding .site-name a {
	
}

/* Search */
#search-bar {
	float: right;
	width: 532px;
	margin: 30px 0 0 0;
}

#search-bar #block-google_cse-0, #search-bar .block-search {
	float: left;
}

#search-block-form #search .form-item, #block-google_cse-0 #search .form-item {
	margin: 0px;
}

#search-bar #block-boxes-add_stuff {
	float: right;
}

#search {
	float: left;
	width: 372px;
	height: 29px;
	padding: 4px;
	margin-right: 14px;
	background: url(../images/common/bg-search.png) no-repeat;
}

#search .form-item {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}


#search .submit-wrapper {
	float: left;
    margin-top: 0;
    padding-left: 0;
}

#search .form-text {
	border: none !important;
	width: 256px;
	height: 19px;
	float: left;
	padding: 5px 14px !important;
	font-size: 1.2em;
	line-height: 19px;
	background: #FFF !important;
	position: relative;
}

#search button {
	display: block;
	border: 0;
	margin: 0;
	padding: 0 12px 0 0;
	position: relative;
	width: 88px;
	height: 29px;
	float: left;
	line-height: 29px;
	font-weight: bold;
	font-size: 1.2em;
	background: #ff6600 url(../images/common/btn-search.png) no-repeat;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 #c95405;
	vertical-align: middle;
	text-align: center;
}

#search button span {
	padding: 0;
	display: inline;
	background: none;
	line-height: 29px;
	text-transform: none;
}

#search button:hover,
#search button.hover {
	color: #efefef;
}

#search input{border: none !important;}


/* Add Stuff */
#add-stuff {
	float: right;
}

#add-stuff-button,
#add-stuff-button:visited {
	position: relative;
	display: block;
	width: 110px;
	padding: 0 28px 0 0;
	height: 37px;
	line-height: 39px;
	font-weight: bold;
	font-size: 1.2em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	background: url(../images/common/btn-add-stuff.png) no-repeat;
	cursor: pointer;
	z-index: 10;
	color: #fff;
	text-shadow: 0 -1px 0 #729a1e;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#add-stuff:hover #add-stuff-button,
#add-stuff.hover #add-stuff-button {
	-webkit-box-shadow: 0 2px 6px #d4d4d4;
	-moz-box-shadow: 0 2px 6px #d4d4d4;
	box-shadow: 0 2px 6px #d4d4d4;
}

#add-stuff div {
	position: absolute;
	top: auto;
	left: -999em;
	padding: 37px 3px 3px;
	margin-top: -39px;
	margin-left: -2px;
	z-index: 5;
	background: #d4d4d4;
	background: rgba(212,212,212,0.75);
	-pie-background: rgba(212,212,212,0.75);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#add-stuff ul {
	width: 117px;
	padding: 9px 9px;
	background: #fff;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#add-stuff:hover div,
#add-stuff.hover div {
	left: auto;
}

#add-stuff li {
	padding: 8px 10px 3px;
	width: 97px;
	border-bottom: 1px solid #efefef;
	font-size: 1.2em;
}

#add-stuff li.last {
	border: 0;
}

/* Add Stuff Icons */
.ico-add-stuff {
	display: inline-block;
	width: 26px;
	height: 26px;
	float: left;
	margin-top: -5px;
	margin-right: 0;
	vertical-align: middle;
	background: url(../images/common/sprite-add-stuff-icons.png) 0 0 no-repeat;
	cursor: pointer;
}
.add-stuff-name{
  float: right;
  padding-left: 5px;
  width: 65px;
}
#add-stuff .ico-article {
	background-position: 0 0;
}
#add-stuff .ico-event {
	background-position: 0 -26px;
}
#add-stuff .ico-place {
	background-position: 0 -52px;
}
#add-stuff .ico-audio {
	background-position: 0 -78px;
}
#add-stuff .ico-video {
	background-position: 0 -104px;
}

#add-stuff li a,
#add-stuff li a:visited {
	text-decoration: none;
	color: #191919;
}

/* 2.3 Navigation
------------------------------------------------------------------------------*/

#navigation  {
	margin-bottom: 20px;
}

#navigation .primary-links {
	height: 39px;
	background: #fdd471 url(../images/common/bg-navigation.png) repeat-x;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#navigation .primary-links li {
	padding-left: 3px;
	background: url(../images/common/bg-navigation-separator.png) 0 0 no-repeat;
}

#navigation .primary-links li.first {
	padding: 0;
	background: transparent;
}

#navigation .primary-links li.first a {
	-webkit-border-radius: 6px 0 0 6px;
	-moz-border-radius: 6px 0 0 6px;
	border-radius: 6px 0 0 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#navigation .primary-links li.last {
	float: right;
}

#navigation .primary-links li.last a {
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#navigation .primary-links a,
#navigation .primary-links a:visited {
	display: block;
	padding: 11px 27px 10px;
	height: 18px;
	font-size: 1.25em;
	font-weight: bold;
	color: #333;
	background: #fdd471 url(../images/common/bg-navigation.png) 0 0 repeat-x;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff
}

#navigation .primary-links .active a,
#navigation .primary-links .active a:visited,
#navigation .primary-links .active-trail a,
#navigation .primary-links .active-trail a:visited {
	background-position: 0 -38px;
	background-color: #ff8a0c;
	text-shadow: none;
}

#navigation .primary-links a:hover {
	color: #000;
	text-decoration: none;
}

#navigation .primary-links a:active {
	text-decoration: none;
}

#navigation .primary-links .active a,
#navigation .primary-links .active a:visited,
#navigation .primary-links .active-trail a,
#navigation .primary-links .active-trail a:visited {
	color: #fff;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}

#navigation .ico-menu {
	display: inline-block;
	width: 19px;
	height: 19px;
	text-indent: -999em;
	margin-bottom: -1px;
	background: url(../images/common/sprite-menu-icons.png) -19px 0 no-repeat;
	cursor: pointer;
}
#navigation .ico-home {
    text-indent: -999em;
}

#navigation .active .ico-home {
	background-position: 0 0;
}
#navigation .ico-help {
	background-position: -19px -19px;
}
#navigation .active .ico-help {
	background-position: 0 -19px;
}
#navigation a:hover .ico-help {
	background-position: -38px -19px;
}

/* 2.4 Page
------------------------------------------------------------------------------*/

#page {
	margin-bottom: 25px;
}

/* Featured items */
#featured {
	position: relative;
}

#page #featured .block-content {
	margin: 15px 0;
	padding: 0;
	width: auto;
	overflow: hidden;
	position: relative;
}

#page #featured .view {
	padding: 0 34px;
	width: 870px;
}

#page #featured .view-content {
	position: relative;
	overflow: hidden;
	width: 870px;
}

/* Update jCarousel wrappers after carousel initialization */
#page #featured .jcarousel-processed {
	padding: 0;
	width: auto;
}
#page #featured .jcarousel-processed .view-content {
	padding: 0 34px;
}


#featured .view-content .jcarousel-container {
	margin: 0 -34px;
	padding: 0 34px;
	position: relative;
	width: 870px;
}

#featured .view-content .jcarousel-clip {
	padding: 0;
	width: 870px;
	overflow: hidden;
}



#featured .block-content .pane {
	float: left;
	margin: 0 10px;
}

.node-gallery_image .custom-pager-top .browse,
.node-type-gallery-image .custom-pager-top .browse,
#featured .browse,
.jcarousel-prev,
.jcarousel-next
{
	position: absolute;
	top: 87px;
	width: 29px;
	height: 67px;
	background: url(../images/common/sprite-controls.png) 0 -77px no-repeat;
	cursor: pointer;
}

.node-gallery_image .custom-pager-top .left,
.node-type-gallery-image .custom-pager-top .left,
#featured .left,
.jcarousel-prev
{
	background-position: 0 -77px;
	left: 0;
}

.node-gallery_image .custom-pager-top .right,
.node-type-gallery-image .custom-pager-top .right,
#featured .right,
.jcarousel-next
{
	background-position: 100% -77px;
	right: 0;
}

#featured .browse,
.jcarousel-prev-disabled,
.jcarousel-next-disabled
{
	display: none !important;
}

#featured .browse-enable {
	display: block;
}

#page .view .view-content .items {
	width: 9999em;
}

.featured-item,
#page .view .view-content .items li {
	position: relative;
	float: left;
	padding: 5px 17px 0;
	margin: 0;
	width: 256px;
	min-height: 220px;
	display: block;
}

#page #featured .field-view-image {
	margin: 0;
	float: none;
}

.view-featured-items-slideshow h3,
.featured-item h3 {
	font-size: 1.1em;
	margin-bottom: 3px;
}

.view-featured-items-slideshow h3 a,
.view-featured-items-slideshow h3 a:visited,
.featured-item h3 a,
.featured-item h3 a:visited {
	color: #303030;
}

.view-featured-items-slideshow h3 a:active,
.view-featured-items-slideshow h3 a:hover,
.featured-item h3 a:active,
.featured-item h3 a:hover {
	text-decoration: none;
}

/* Common page layout styles */
#left,
#main {
	float: left;
}
#right {
	float: right;
}

/* Layout types - Main only */
.one-column #main {
	width: 100%;
}

/* Layout types  - Two columns with equal width */
.two-columns-equal #main,
.two-columns-equal #right {
	width: 466px;
}

/* Layout types  - Main + right */
.two-columns #right {
	width: 293px;
}
.two-columns #main {
	width: 638px;
}

/* Layout types - Two sidebars and main content */
.three-columns #right {
	width: 294px;
}
.three-columns #left {
	width: 157px;
}
.three-columns #main {
	width: 468px;
	margin: 0 10px;
}
/* Laout type - One sidebar (left) and main content */
.two-columns-left #left{
  width: 157px;
}
.two-columns-left #main{
   width:780px;
   margin-left: 10px;
}


/* Blocks */
#page .block {
	margin-bottom: 10px;
	border: 1px solid #f7f2e4;
	background: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#comments .block-content h2.title,
#page .block-title {
	position: relative;
	height: 18px;
	padding: 10px 30px;
	border-bottom: 1px solid #e5e5e5;
	background: #fff url(../images/common/bg-block-title.png) 0 0 repeat-x;
	color: #9b9b9b;

	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#page .important {
	border-color: #fed064;
}

#page .block-content {
	position: relative;
	padding: 10px 10px 0 10px;
	margin: 15px 20px;
}

#page .block-title h2 {
	float: left;
	font-weight: bold;
	font-size: 1.25em;
	color: #595959;
}

#page .block-title a,
#page .block-title a:visited {
	text-decoration: none;
	color: #595959;
}

#page .block-title span {
	position: absolute;
	right: 30px;
	top: 14px;
    color: #9B9B9B;
	font: 75%/1.25 Arial,Helvetica,sans-serif;
}

#page .block-title a span {
	float: none;
	margin-top: 0;
	color: #FF6600;
	position: static;
	right: auto;
	top: auto;
}

#page .block-title a span.ico-small {
	margin-top: -1px;
}

#page .prose p,
#page .prose ul,
#page .prose ol{
	margin-bottom: 10px;
}

#page h1 {
	margin-bottom: 20px;
	font-size: 2.5em;
	color: #ff6600;
}

#page h4 {
	margin-bottom: 5px;
	font-size: 1.45em;
	color: #ff6600;
}

#page h5 {
	margin-bottom: 5px;
	font-size: 1.1em;
	color: #ff6600;
}

#page h4 a,
#page h4 a:visited,
#page h5 a,
#page h5 a:visited {
	text-decoration: none;
	color: #ff6600;
}

#page .block-content .block {
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

#comments .block-content h2.title,
#page .block-content .block-title {
	position: relative;
	padding-left: 21px;
	padding-right: 17px;
	border: solid #d0d0d0;
	border-width: 1px 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	clear:both;
}

#page #comments .block-title h3 {
  font-size: 1.1em;
}

#comments .block-content h2.title,
#page .block-title h3 {
	float: left;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 18px;
	color: #adadad;
}

#comments .block-content h2.title{
  width:100%;
  margin-bottom: 20px;
  margin-left: -20px;
  width: 100%;
}

#page .block-content .block-title a,
#page .block-content .block-title a:visited {
	float: right;
	line-height: 1.8em;
	text-decoration: none;
	color: #ff6600;
}

#page .block-title a:active span,
#page .block-title a:hover span {
	text-decoration: underline;
}

#page .block .ico-small {
	margin-left: 5px;
	text-decoration: none;
}

/* Upcoming events list */
#page .block-title .arrow {
	display: block;
	position: absolute;
	left: 66px;
	bottom: -7px;
	right: auto;
	top: auto;
	width: 13px;
	height: 8px;
	background: url(../images/common/bg-block-title-arrow.png) 0 0 no-repeat;
}

#page.two-columns-equal .block-title .arrow {
	left: 40px;
}

#page .block-content .block-content {
	margin: 20px;
	padding: 0;
}

#page .block-content .item-block {
	margin: 0 0 20px;
}

#page .item-block .image{
	float: left;
	margin-left: 0;
	margin-bottom: 0;
	width: 83px;
}

#page .item-block .short {
	margin-left: 115px;
}

#page div.medium-thumb .image {
	width: 106px;
}

#page div.medium-thumb .short {
	margin-left: 136px;
}

#page div.big-thumb .image {
	width: 124px;
}

#page div.big-thumb .short {
	margin-left: 156px;
}

#page .item-block .category-link {
	margin-top: 0;
}

#page .location-link,
#page .location-link {
	margin: 5px 0;
	font-size: 0.9em;
	color: #b3b3b3;
}

#page .location-link .event-time {
	border-bottom: 0;
	color: #333;
}

#page .location-link a,
#page .location-link a:visited {
	color: #e60000;
}

#page .description {
	color: #333;
	font-size: 1em;
	margin-top: 6px;
}

#page .vevent div.short {
	margin-left: 85px;
}

#page.three-columns #right .vevent div.short {
	margin-left: 65px;
}

#page .featured-item .vevent div.short {
	margin-left: 66px;
}

.block .calendar {
	position: relative;
	display: block;
	float: left;
	width: 47px;
	border-bottom: 0;
	-webkit-box-shadow: 0 0 1px #000;
	-moz-box-shadow: 0 0 1px #000;
	box-shadow: 0 0 1px #000;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

.block .calendar {
	margin: 0 19px 15px 0;
	float: left;
}

.block .calendar div,
.block .calendar span {
	display: block;
	text-align: center;
}

.block .calendar span {
	line-height: 1em;
	font-size: 2.65em;
	font-weight: bold;
	background: #ffa500;
	color: #fff;
	-webkit-text-shadow: 0 1px 0 #f08500;
	-moz-text-shadow: 0 1px 0 #f08500;
	text-shadow: 0 1px 0 #f08500;
}

.block .calendar span span {
	display: block;
	padding-top: 3px;
	font-size: 0.45em;
	line-height: 1em;
	text-transform: uppercase;
}

.block .calendar div {
	height: 24px;
	margin: 0;
	border: solid #fff;
	border-width: 0 1px;
	line-height: 24px;
	font-size: 1.25em;
	text-transform: uppercase;
	background: url(../images/common/bg-block-title.png) 0 100% repeat-x;
	color: #909090;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}

#page .community .image {
	width: 43px;
	margin: 0 20px 0 20px;
}

#page .community .short {
	margin-left: 95px;
}

#page.three-columns #right .community .image {
	width: 43px;
	margin: 0 20px 0 0;
}

#page.three-columns #right .community .short {
	margin-left: 75px;
}

#page .comment-link {
	color: #0c0c0c;
	margin-bottom:5px;
}

#page .view-og-community a,
#page .view-og-community a:visited {
	color: #ff6600;
}

/* See All link & Pagination */
#page .more-link,
#page .see-all,
#page .pagination {
	padding-top: 10px;
	border-top: 1px dotted #dfdfdf;
	font-size: 1em;
	text-align: right;
	clear:both;
}

#page .see-all a,
#page .see-all a:visited,
#page .more-link a,
#page .more-link a:visited,
#page .pagination a,
#page .pagination a:visited,
#page .pagination .pager-current span{
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #5e5e5e;
}

#page .see-all a,
#page .see-all a:visited {
	float: right;
}

#page .pagination a.ico-small,
#page .pagination a.ico-small:visited {
	float: left;
}

#page .pagination .pager-current span {
	color: #dbdbdb;
}

#page .see-all a:hover,
#page .more-link a:hover,
#page .pagination a:hover {
	color: #777;
}

#page .pagination div {
	float: right;
}

#page .pagination ul {
	float: left;
}

#page .pagination li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #dedede;
}

#page .pagination li.first {
	border-left: 0;
}

#page .pagination li a,
#page .pagination li a:visited {
	float: none;
}

/* Tabs */
#page .tabs  ul {
	position: relative;
	z-index: 5;
}

#page .tabs li {
	float: left;
	padding: 0;
}

#page .tabs li a {
	padding: 7px 15px 0;
	display: block;
	height: 22px;
	line-height: 1.2;
}

#page .tabs  li.active {
	border: 1px solid #e5e5e5;
	border-bottom: 0;
	background: #fff;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#page .tabs  li.active a {
  padding: 6px 14px 0;
}

#page .tabs  li h2 {
	float: none;
}

/* Latest Stuff */


#page .author-link,
.item-block .views-field-name,
.item-block .views-field-name-1,
.item-block .views-field-created,
.view-og-community .view-content .views-row div.views-field-timestamp {
	margin: 5px 0;
	font-size: 0.9em;
	color: #b3b3b3;
}

#page .author-link a,
#page .author-link a:visited,
.item-block .views-field-name a,
.item-block .views-field-name a:visited {
	color: #00c0ff;
}

#page .author-link span.timestamp {
	margin-left: 3px;
	padding-left: 4px;
	border-left: 1px solid #b3b3b3;
}

#page .author-link img {
	margin-top: -3px;
	margin-right: 15px;
	border: 1px solid #d0d0d0;
	vertical-align: middle;
}

#page .item-block .author-link img {
	margin-right: 5px;
}

/* About Harlem block */
#page .about-block {
/*	background: #fff url(../images/common/bg-about-block.png) 100% 100% no-repeat;*/
}

#page .about-block .block-content {
/*	padding-right: 70px;*/
}

#page .about-block .see-all a {
	float: left;
	font-size:1.2em;
}

#page .about-block .see-all {
  border: 0 none;
  padding-top: 0;
}

/* Help block */
#page #help-block .block-title span {
	float: right;
	margin: 0 -15px 0 0;
}

/* Browse block */
.block-browse .block-content ul {
	float: left;
	width: 200px;
}
#page .block-browse .block-content ul.links {
	margin: 0;
}
.two-columns-equal .browse-topic .block-content ul.links{
  width:400px;
}
.browse-topic .block-content ul.links{
  width:200px;
}


.block-browse .block-content li {
	padding: 5px 0 5px 0;
	font-size: 1em;
}

.two-columns-equal .block-browse .block-content li {
	padding-left: 20px;
}

.block-browse .block-content a,
.block-browse .block-content a:visited,
.block-browse a,
.block-browse a:visited {
	color: #232323;
	text-decoration: none;
}

.ico-big {
	display: inline-block;
	width: 40px;
	height: 32px;
	margin-right: 10px;
	vertical-align: middle;
	background: url(../images/common/sprite-icons-big.png) 0 0 no-repeat;
	cursor: pointer;
}
.ico-all {
	background-position: 0 0;
}
.ico-article {
	background-position: 0 -32px;
}

.ico-event {
	background-position: 0 -64px;
}

.ico-place {
	background-position: 0 -96px;
}

.ico-video {
	background-position: 0 -128px;
}

.ico-podcasts {
	background-position: 0 -160px;
}

.ico-news {
	background-position: 0 -192px;
}
.ico-hw {
	background-position: 0 -224px;
}
.ico-dyk {
	background-position: 0 -256px;
}
.ico-poh {
	background-position: 0 -288px;
}
.ico-health-center {
	background-position: 0 -320px;
}
.ico-fitness {
	background-position: 0 -352px;
}
.ico-environment {
	background-position: 0 -384px;
}
.ico-food {
	background-position: 0 -416px;
}
.ico-spirit-mind {
	background-position: 0 -448px;
}
.ico-facebook {
	background-position: 0 -480px;
}
.ico-twitter {
	background-position: 0 -512px;
}

/* Node */
#page .node {
	margin: 20px 0;
}

body.node-type-group #page .node {
	margin: 0 0;
}

#page .button-like,
#page .button-like:visited {
	display: block;
	float: left;
	width: 32px;
	height: 20px;
	padding-left: 25px;
	margin-right: 5px;
	margin-bottom: 12px;
	line-height: 20px;
	font-size: 0.9em;
	text-decoration: none;
	color: #484848;
	background: url(../images/common/sprite-like-buttons.png) 0 0 no-repeat;
}

#page .button-like:hover {
	color: #777;
}

#page .button-print {
	background-position: 0 0;
}
#page .button-email {
	background-position: 0 -20px;
}

#page #main .block-content .block {
	margin: 0 0 20px;
}

/* Comments */
#comments .comment-block {
	padding: 0 0 10px 20px;
	margin: 10px 0;
	border-bottom: 1px solid #f1f1f1;
}

#comments .last {
	border: 0;
}

#comments .comment-block .image {
	float: left;
	width: 49px;
}

.image-comment {
	position: absolute;
	top: 7px;
	right: -11px;
	display: block;
	width: 12px;
	height: 11px;
	background: url(../images/common/bg-image-comment.png) 0 0 no-repeat;
}

#comment-form .image,
#comment .image {
	margin: 0 10px 10px 0;
}

#comment-form .comment,
#comments .comment {
  float: left;
  width: 430px;
}

#comment-form .author-link,
#comments .author-link {
	margin: 0 0 10px;
	line-height: 43px;
	height: 50px;
}

#comment-form .comment cite,
#comments .comment cite {
	margin-right: 5px;
	font-size: 1.45em;
	font-weight: bold;
}

#comment-form .comment .author-link a,
#comment-form .comment .author-link a:visited,
#comments .comment .author-link a,
#comments .comment .author-link a:visited {
	color: #0077d9;
}

#comment-form .comment .p,
#comments .comment p {
	margin: 5px 0;
}

#comment-form .form-item {
	margin: 10px 0;
	padding: 0;
}

/* Comment form */
.block form li {
	float: left;
	width: 262px;
	margin: 10px 10px 10px 15px;
}
.block form li.wide {
	width: 548px;
	margin-right: 0;
}

.block label {
	display: block;
	margin-bottom: 2px;
	color: #0077d9;
}
.block label em {
	color: #ef2e24;
}
.block form li input,
.block form li textarea,
textarea {
	width: 100%;
	border: 1px solid #d6d6d6;
}

.block form input {
	height: 23px;
}

.block form textarea {
	height: 92px;
	padding: 5px;
}

.block form .cbox {
	width: auto;
}

.block form .cbox input {
	width: auto;
	margin-right: 5px;
	border: 0;
	vertical-align: middle;
}

#comments label{
  text-transform:inherit;
}

#comments #edit-admin-subscriptions-notify-wrapper `label`,
.block form li.cbox label {
	display: inline;
	font-weight: normal;
	font-size: 1.1em;
	color: #6b6b6b;
}

.block form li.submit {
	width: auto;
	float: right;
	margin-top: 5px;
}

button,
.button,
button span,
.button span  {
	display: block;
	height: 31px;
	width: auto;
	overflow: visible;
	outline: 0;
	margin: 0;
	border: 0;
	line-height: 31px;
	text-decoration: none;
	background: url(../images/common/bg-button.png) 0 0 no-repeat;
	cursor: pointer;
}

button,
.button  {
	float: right;
	padding: 0 23px 0 0;
	background-position: 100% 0;
}

button::-moz-focus-inner {
	padding: 0;
	border: none;
}

button span,
.button span {
	position: relative;
	padding: 0 0 0 23px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	white-space: no-wrap;
	background-position: 0 0;
	color: #fff;
    line-height: 31px;
    /* shadow disablled to match static version
	-webkit-text-shadow: 0 -1px #0569be;
	-moz-text-shadow: 0 -1px #0569be;
	text-shadow: 0 -1px #0569be;
    */
	white-space: nowrap;
}

button:hover span,
button.hover span,
.button:hover span {
	color: #efefef;
}

button.orange,
a.orange {
	background-position: 100% -34px;
}

button.orange span,
a.orange span {
	-webkit-text-shadow: 0 -1px #cc5205;
	-moz-text-shadow: 0 -1px #cc5205;
	text-shadow: 0 -1px #cc5205;
	background-position: 0 -34px;
}

/* Newsletter form */
.newsletter-block input.form-text {
	height: 21px;
	padding: 8px 15px;
	width: 203px;
	background: url(../images/common/bg-newsletter-input.png) 0 0 no-repeat;
}
.newsletter-block #edit-mail-wrapper{
  float:left;
  margin-top:-14px;
}

.newsletter-block .submit-wrapper {
  margin-top:-5px;
}

.newsletter-block p{
  width:230px;
  float:left;
  margin-bottom:5px;
}

.newsletter-block input {
	border: 0;
	font-size: 1.2em;
	line-height: 1.5em;
	color: #999;
}

.node-form .submit-wrapper button,
.node-form .submit-wrapper button span,
.newsletter-block .submit-wrapper button,
.newsletter-block .submit-wrapper button span {
	height: 37px;
	line-height: 37px;
	background-image: url(../images/common/btn-gray.png);
	color: #797979;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}

.node-form .submit-wrapper button:hover span,
.node-form .submit-wrapper button.hover span,
.newsletter-block .submit-wrapper button:hover span,
.newsletter-block .submit-wrapper button.hover span{
	color: #999;
}

/* Join us block */
#page .join-block li {
	float: left;
	margin-right: 30px;
}

#page .join-block .ghh-menu-items a,
#page .join-block .ghh-menu-items a:visited {
	color: #757575;
	font-size:1em;
}


/* Follow us block */
.follow-block a.button:hover{
  text-decoration:none;
}
.subscribe .button span {
  width: 185px;
  text-align: center;
  text-transform:uppercase;
  padding:0 0 0 23px;
}
.subscribe button, .button{
  float:none;
}
.subscribe p {
	margin: 10px 0;
	display:block;
}
.follow-block .member-count {
	font-size: 1.3em;
	color: #b3b3b3;
}
.follow-block .member-count a {
	color: #00c0ff;
}
.follow-block a.button{
  margin-bottom:10px;
}


#page #group-page-block {
	position: relative;
    margin-top: -10px;
    margin-bottom: 10px;
	padding: 10px;
	background: none;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	behavior: none;
	z-index: 10;
}

.node-type-group #group-page-block, .page-groups #group-page-block{margin-bottom: 0 !important; margin-top:-15px !important;}
.node-type-group #navigation{margin-bottom:15px !important;}

#page #group-page-block .block-content .block{
    margin-bottom: 0px;
}

.og-context #page #tabs {
	margin-top: -10px;
	margin-bottom: 10px;
}

#page #group-page-block .block-content {
	margin: 0;
	padding: 0;
}

#page #group-page-block .view .view-content > div {
	margin: 0;
}

#page #group-page-block img {
	float: left;
	margin: 0 40px 0 0;
}

#page #group-page-block h1 {
	float: left;
	margin-bottom: 0;
	margin-top:0;
	font-size: 36px;
	line-height: 1.9em;
	color: #fff;
}

#left .block-content {
	padding: 0;
	margin: 0;
}

#left ul.menu li {
	height: 18px;
	padding: 10px 30px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 1.25em;
	font-weight: bold;
	background: #fff url(../images/common/bg-block-title.png) 0 0 repeat-x;
}

#left ul.menu li.first {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#left ul.menu li.last {
	border: 0;
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}
#left ul.menu li.active-trail,
#left ul.menu li.active,
#left ul.menu li:hover,
#left ul.menu li.hover {
	background: #fff url(../images/common/bg-menu-active.png) 0 0 repeat-x;
}

#left ul.menu li a,
#left ul.menu li a:visited {
	color: #595959;
	text-decoration: none;
}

#left ul.menu li.active-trail a,
#left ul.menu li.active a,
#left ul.menu li.active a:visited {
	color: #ff6600;
}

.profile-overview-block .image {
	float: left;
}

#page #profile-block .tabs li {
	padding: 5px 30px 6px;
}

#profile-block .block-content ul {
	padding: 5px 25px;
	color: #0077d9;
}

#profile-block .block-content li {
	margin-bottom: 6px;
}

#profile-block .block-content ul span {
	float: left;
	width: 125px;
	color: #777;
}

#profile-block .block-content ul a,
#profile-block .block-content ul a:visited {
	color: #0077d9;
}

#page #profile-block .block-content {
	margin-top: 25px;
}

.profile-overview-block h1 {
	padding-top: 15px;
	margin-bottom: 0;
	font-size: 3.75em;
}

.profile-overview-block h2 {
	margin-top: -5px;
	margin-left: 2px;
	font-size: 1.33em;
	font-weight: normal;
}

#page .profile-overview-block .block-content .item-block {
	margin-bottom: 10px;
}

.views_slideshow_slide .views-row{
	display: inline-block;
}

.views_slideshow_slide .views-row-first {
	padding-right: 20px;
}


/* 2.5 Footer
------------------------------------------------------------------------------*/

#footer {
	margin-bottom: 10px;
	font-size: 0.9em;
	color: #424242;
}

#footer .limiter {
	border: 1px solid #f7f0d4;
	background: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#footer .block-multiblock {
	padding: 10px 0 6px;
	height: 21px;
	text-align: center;
	background: #8b8b8b url(../images/common/bg-footer.png) 0 0 repeat-x;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

#footer .menu {
	display: inline-block;
	padding: 2px;
}

#footer .menu li {
	float: left;
	padding: 0 16px;
	border-left: 1px solid #fff;
}
#footer .menu li.first {
	border-left: 0;
}

#footer .menu a,
#footer .menu a:visited {
	color: #fff;
}

#sitemap {
	margin: 20px 65px;
}

#sitemap .block-content {
	width: 380px;
	float: left;
}

#sitemap .block-content.last {
	float: right;
}

#sitemap ul {
	float: left;
	width: 190px;
}

#sitemap ul.join {
	width: 210px;
	margin-right: -20px;
}

#sitemap li {
	padding: 7px 0;
}

#sitemap .ico-small {
	float: left;
	margin-right: 10px;
}

#sitemap a,
#sitemap a:visited {
	float: left;
	margin-right: 15px;
	color: #424242;
}

#footer .prose {
	margin: 0 30px;
	text-align: center;
	border-top: 1px solid #eee;
}
#footer .prose p {
	margin: 15px 0;
}

/* Popular places */
.view-popular-places .views-row {
	/* clearfix */
}

/* events join button */
#block-block-47 .button {
	text-align: center;
}

/* Tagline */
.editorial-tagline {
	margin: 1.5em 0;
	border: 1px solid #DDD;
	border-width: 1px 0;
	padding: 8px 0;
	color: #666;
	overflow: hidden;
	z-index: 1;
	font-size: 12px;
	min-height: 32px;
	position: relative;
}

#page .editorial-tagline.field {
	margin: 1.5em 0;
	clear: both;
}

.editorial-tagline .tagline-icon {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	left: 0px;
}
.editorial-tagline .tagline-text {
	margin: 0 0 0 50px;
	display: block;
}

/* comment form */
#edit-comment-wrapper {
	clear: both;
}

/* Google search */
#google-cse-results-searchbox-form {
	overflow: hidden;
}

#google-cse-results-searchbox-form .form-item {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
}

#google-cse-results-searchbox-form .form-item label {
	height: 15px;
}

#google-cse-results-searchbox-form .submit-wrapper {
	margin: 0;
	padding: 17px 0 0;
	float: left;
}

#google-cse-results-searchbox-form .button {
	float: left;
}

#block-menu-menu-browse-by-date li a{font-size:15px; color:#000;}
#block-menu-menu-browse-by-date li{margin:10px 0;}
#block-menu-menu-browse-by-date li .active, .by-date li a:hover{color:#FF7F00 !important; text-decoration:none !important;}

.page-user .views-row div{clear:both;}
.page-user .views-row div label{float:left; color:#777; width:200px; text-transform:none !important; font-size:12px; font-weight:normal !important;}
.page-user .views-row div span{color:#0077D9;}
.page-user .views-row div p{margin-left:200px; position:relative; top: -16px; color:#0077D9}
.page-user .views-row div .block-title{
-moz-border-radius: 0 !important;
-webkit-border-radius: 0 !important;
border-radius: 0 !important;
border:solid #D0D0D0 !important;
border-width: 1px 0 !important;
}
.page-user .views-row div .block-title h3{font-size:15px !important; margin-top:3px !important;}
.page-user .block-quicktabs .quicktabs_tabpage .block-content{padding:0 !important; margin:0 20px !important;}

.page-user .user-profile #content {margin: 0 !important;}
.page-user .user-profile #content-wrapper {margin: 0 !important; padding: 0 !important;}

.page-user .user-profile #content.block-content {margin: 30px !important;}

.page-user #page.user-profile #main .block #content.block-content {margin: 0 !important;}

.page-user .view-og-community .views-row{min-height: 0 !important;}
.field-facebook-like{clear: both;}
.field-facebook-like , .field-facebook-like .block, .field-facebook-like .block-content, .block-google_plusone, .field-google-plus .block-content{margin:0 !important;}
/*.field-facebook-like iframe{height: 30px !important;}*/
.g-plusone-wrapper{margin: 0 !important;}
.cursor-pointer{cursor: pointer;}
/*.node-type-gallery-image .field-gallery{font-size: 2.5em; font-weight: bold; color: #FF7F00 !important;}*/
.node-type-gallery-image .field-title{text-align: center; margin-bottom: 40px !important;}
.node-type-gallery-image .field-gallery{display: none;}
#unfollow{display: none;}
#edit-field-header-color-0-value-wrapper{height:220px;}

/* About page block updates */
#page #block-views-node_details-block_4 .block-content {
	margin: 0;
}
#page #block-views-node_details-block_2 {
	margin: 0 20px 10px 0 !important;
	float: left;
	min-width: 240px;
	width: auto!important;
	width: 240px;
}
#page #block-views-node_details-block_2 .block-content {
	margin: 0;
}

/* Pagination updates */
.page-node #page .pagination .pager li {
	margin: 0;
	list-style: outside none none;
}

/* Featured group updates */
.featured-group .image {
	display: block;
	float: none;
	margin: 0 0 10px;
}
.featured-group .image img {
	display: block;
}
#edit-taxonomy-tags-3-wrapper{display: none;}

#login{padding: 0;}
#register{padding: 0; background: #fff !important; height: 460px;}
#disclaimer{padding: 0; background: #fff !important; height: 460px; font-size:18px;}
#disclaimer .submit-wrapper {
	margin-right:285px;
	padding-top: 10px;
}
#disclaimer .clear-block {
	font-size: 12px;
	text-align: left;
	width: auto;
}
#disclaimer-link{
	cursor: pointer;
}

.views-field-field-upload-file-fid{display: none;}
.views-label-icon{margin-bottom: 8px !important;}
.filefield-icon{position: relative; top: 3px;}
.node-type-file .field-file-view{width: 400px; float: left;}
.node-type-file .field-body{clear: both;}
.filefield-file iframe{width: 785px !important; height: 400px !important;}
.filefield-file {position: absolute;}
.node-type-file #cboxTitle{display: none !important}
.node-type-article #cboxTitle{display: none !important}
.node-type-event #cboxTitle{display: none !important}

.prose .logos{
	height: 100px;
	padding-bottom: 10px;
}

.logo-image img{
	height: 62px;
	margin: 0 auto;
}

.logos .logo-image{
	display: inline-block;
	padding-bottom: 20px;
	padding-right: 15px;
}
.logos .info, .logos p{
	display: inline-block;
	vertical-align: bottom;
	width: 67%;
	text-align: left;
}

.logos p {
	width: 100%;
}

.logos .block-boxes {
	display: inline-block;
}

#footer .prose .logos .hon p{
	width: 100%;
	text-align: left;
}

.logos #block-boxes-footer_hon_logo{
	width: 27%;
	padding-right: 15px;
	vertical-align: top;
	padding-top: 10px;
}

.logos #block-boxes-footer_prc_logo {
	width: 64%;
}

.logos .hon p a img{
	padding-right: 15px;
}

.block form input#radioAll,
.block form input#radioSome,
.block form input#radioNone {
	margin-left: -88px;
}
#femail-user-subscribe table .form-item label {
	margin: 0 auto;
	width: 100px;
	text-align: left;
}

.node-type-article .field-file-view{width: 69%; float: left; clear: right;}

#page .node-type-article .view .view-content {clear: none;}


/* #page .node-type-event .field-nodes-event-dates {float: left;}

#page .node-type-event .field-body {clear: both;}

#page .node-type-event .field-file-view {float: left; width: 500px;} */

#page #main #content-wrapper #content .node .groups {display: none;}

#page #main #content-wrapper #content .node .meta {display: none;}

#right #block-boxes-join_mc #boxes-box-join_mc p{margin-bottom: 10px;}

#right #block-boxes-join_mc #boxes-box-join_mc ul{margin-bottom: 10px;}

#right #block-boxes-join_mc #boxes-box-join_mc ul.li-join-mc li{list-style: disc; margin: 8px 0px 8px 15px; height: 20px;}

#right #block-boxes-join_mc #boxes-box-join_mc a span{text-align: center;}

.node-type-page #page #main #content .node-page .field-page-type{display: none;}

#page .ghh-menu-items .views-admin-links a{
	background: none;
	line-height: 0;
	padding-left: 0;
	width: initial;
}

#page .ghh-menu-items .views-admin-links li {
	padding: 0;
	width: initial;
}

#page #block-quicktabs-browse_by .ghh-menu-items .view-content .odd, #page #block-quicktabs-browse_by .ghh-menu-items .view-content .even {
margin: 0 0 0;
}

#page #block-quicktabs-browse_by .view-header {
margin: 0;
clear: initial;
}

#page #block-boxes-latest_by_topic .block-browse .block-content{
	margin: 0px;
	padding: 0px;
}

#overlay{
	display: none;
}

#boxes-box-latest_by_type .block-browse .view-id-list_tx_features .view-header {
	margin: 0 0 5px;
}

.node-type-article #page .nd-region-middle .field-body ol {
  list-style: decimal;
}

#block-views--exp-latest_pages-page_7 .submit-wrapper .form-submit {
	height: 37px;
	line-height: 37px;
	background-image: url(/sites/default/themes/harlem2/images/common/btn-gray.png);
	color: 
	#797979;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}