/* Custom styles specific to MiamiTech.org */

body {
	background: #f7f7f7;
	font: 75%/1.25 Arial, Helvetica, sans-serif;
}	

#highlight {
	display: none;
}

#header {
	margin-bottom: 5px;
}


#page .block-title a span {
	color: #39F;
}

#page h1 {
	font-size: 2.5em;
	color: #39F;
}

#page h4 {
	margin-bottom: 5px;
	font-size: 1.45em;
	color: #ff6600;
}

#page h5 {
	margin-bottom: 5px;
	font-size: 1.1em;
	color: #39F;
}

#page h4 a,
#page h4 a:visited,
#page h5 a,
#page h5 a:visited {
	text-decoration: none;
	color: #09F;
}

#page .field-author a {
	color: green;
}

/* Navigation */

#navigation .primary-links {
	background: #0070B6 repeat-x;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
	color: #fff;
}

#navigation .primary-links a:visited {
	background: #09C 0 0 repeat-x;
	-webkit-text-shadow: 0;
	-moz-text-shadow: 0;
	text-shadow: 0;
	background-image: none;
}

#navigation .primary-links .active a,
#navigation .primary-links .active a:visited,
#navigation .primary-links .active-trail a,
#navigation .primary-links .active-trail a:visited {
	color: #fff;
	background-color: #09F;
	background-image: none;
}


#navigation .primary-links a,
#navigation .primary-links a:visited {
	background: none;
	color: #fff;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}

#navigation .primary-links li {
	padding-left: 3px;
	background: none;
}

#navigation .primary-links a:hover {
	color: #f7f7f7;
	text-decoration: none;
}





/* Changes for the last primary menu item styles (help or LAST)*/
#navigation .primary-links li.last {
	float: none !important;
}

#navigation .primary-links li.last a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}


/* kill the extra spacing on the color field */
#edit-field-header-color-0-value-wrapper{
	height: auto;
}
#edit-field-header-color-0-value{
	height: auto;
}

.category-link a{
	color: green;
}

#comments {
	display: none;
}


/* styling user profile page */
body.page-user .ud-region-header{
	margin: 15px 20px;
	padding: 10px 10px 0;
	width: auto;
	overflow: hidden;
	position: relative;
	line-height: 20px;
}

.field-ds-group-user-primaryinfo{
    margin-top: 2px;
}

.field-ds-group-user-primaryinfo .field-realname-area{
    font-size: 2.5em;
    color: #0070B6;
    margin-bottom: 7px;
}

.field-ds-group-user-primaryinfo .field-nd-location-name{
    color: #ccc;
    margin-bottom: 8px;
}

.field-ds-group-user-primaryinfo .field-nd-location-name,.field-ds-group-user-primaryinfo .field-created{
    display: inline;
    color: #CCC;
    margin-bottom: 8px;
}

body.page-user .ud-region-header .field-picture{
	position: relative;
	margin: 0 20px 0px 0;
	float: left;
	background: white;
}

body.page-user .ud-region-header .field-picture img{
	padding: 4px;
	border: 1px solid #D0D0D0;
}

body.page-user .ud-region-middle{
	display: block;
	float: none;
	margin-right: 0;
	width: auto;
}

body.page-user .ud-region-middle .field-group{

}

body.page-user .ud-region-middle .field-group{
	border: 1px solid #E5E5E5;
	border-bottom: 0;
	background: white;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

body.page-user .quicktabs_tabs li h2 a{
	color: #595959 !important;
	float: none !important;
	line-height: 1em !important;
	font-size: 0.75em !important;
}

body.page-user .quicktabs-style-nostyle .block-title .title{
	display: none;
}

body.page-user .view-my-groups ul{
	margin-left: 10px;
}

body.page-user .view-my-groups ul li{
	list-style-type:disc;
}

/*** placeholder image ****/

.img-placeholder{
    overflow: hidden;
    padding: 4px;
    border: 1px solid #eee;
    background-color: white;
    margin: 0 -5px 9px -5px;
}

.img-placeholder img{

}

.img-placeholder .img span{
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 75px;
}

.img-placeholder .img .cover{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
}


.field-view-image {
    float:left;
    margin:0px 20px 0 0;
    position:relative;
}

.field-view-image img {
    border:1px solid #d0d0d0;
}


.view-mc-events-by-dates .img-placeholder{
    height: 85px;
    width: 85px;
    background: #fff;
}

.view-mc-events-by-dates .img-placeholder .img{
    height: 83px;
    width: 83px;
    display: block;
}

.view-mc-events-by-dates .img-placeholder .img img{
    line-height: 83px;
    margin: 25px;
    border: none;
}

.view-mc-events-by-dates .field-view-image .img {
    height: 83px;
    width: 83px;
    margin: auto;
    border: solid 1px #eee;
    background: #f7f7f7;
}

/*** placeholder ****/

#page #group-page-block .field-content a{
    margin-right: 15px;
    text-decoration: none;
}

#quicktabs_container_mt_userprofile{
    margin: 20px;
}

#add-stuff .links .ico-add-stuff{
	display: none;
}

#add-stuff .links .add-stuff-name{
	width: 80px;
}

#add-stuff .links .add-stuff-name:hover{
	color: #808080;
}

body #navigation {
	margin-bottom: 15px !important;
}

#block-ds-0b596e3199de270de74a2f6e8f0d1525 .field-nd-location-gmap{
	padding-bottom: 10px;
}

#block-ds-0b596e3199de270de74a2f6e8f0d1525 .field-nd-location-name{
	font-weight: bold;
	padding-bottom: 5px;
}

#block-ds-0b596e3199de270de74a2f6e8f0d1525 .field-address-formatted{
	padding-bottom: 5px;
}

#register .submit-wrapper, #user-register .submit-wrapper {
	float: left;
	padding-left: 0px
}

#register input[name=mail]{
	width: 90% !important;
}

#page #group-page-block h1{
	margin: 0 0 0 15px; 
}

/* New group head block/area this is the only styles affecting on that block right now */
#group-page-head{

}

#group-page-head .wrapper{
    margin-top: 0px;
    margin-bottom: 10px;
    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
    padding: 10px;
}

#group-page-head .wrapper a,#group-page-head .wrapper h1{
    color: inherit !important;
}

#group-page-head .wrapper h1{
    margin: 0px !important;
	margin-left: 16px;
    white-space: nowrap;
    overflow: hidden;
}

#group-page-head .wrapper a{
    display: block;
    text-decoration: none;
    height: 80px;
    line-height: 80px;
    float: left;
}

#group-page-head a img{
    vertical-align: middle;
    position: relative;
    margin-left: 16px;
}

#group-page-head a h1{
    margin: 0px !important;
    padding: 0px;
    color: inherit;
    float: left;
}

#group-page-head .wrapper a h1{
    overflow: hidden;
    white-space:nowrap;
    max-width: 80%;
    margin: 0 0 0 10px;
}

#group-page-head .wrapper img{
    margin-right: 15px;
}

/* group-page-head */

#block-ds-5c755d31699c072160e29da9599e28f3 .field {
	margin-bottom: 15px;
}

.page-node #page .category-link {
	margin: 0px 0 10px;
}

.nd-region-header {
	margin-bottom: 0px;
}

#footer .block-multiblock {
	background: white url(../images/common/bg-block-title.png) 0 0 repeat-x;
}

#footer .menu a, #footer .menu a:visited {
	color: #333;
}

/** node/add forms cleanup **/

#node-form fieldset legend {
  display: none;
}

#conditional-field-auto-import {
  display: none;
}

#boxes-box-mc_event_sections_box .view-content p,
#boxes-box-mc_event_sections_box .view-content h4
{
    font-size-adjust: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

#boxes-box-footer_joinus_box > p {
  padding-bottom: 10px;
}

#boxes-box-footer_joinus_box .field-mt-add-group-ical .ical-group-ico {
  margin-top: 0px;
}