/* Custom styles specific to MiamiTech.org */

body {
	background: none;
	font: 75%/1.25 Arial, Helvetica, sans-serif;
}	

#highlight {
	display: none;
}

#page .block-title a span {
	color: #39F;
}

#page h1 {
	font-size: 2.5em;
	color: #39F;
}

#page h4 {
	margin-bottom: 5px;
	font-size: 1.45em;
	color: #ff6600;
}

#page h5 {
	margin-bottom: 5px;
	font-size: 1.1em;
	color: #39F;
}

#page h4 a,
#page h4 a:visited,
#page h5 a,
#page h5 a:visited {
	text-decoration: none;
	color: #09F;
}

#page .field-author a {
	color: green;
}

/* Navigation */

#navigation .primary-links {
	background: #0070B6 repeat-x;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
	color: #fff;
}

#navigation .primary-links a:visited {
	background: #09C 0 0 repeat-x;
	-webkit-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
	background-image: none;
}

#navigation .primary-links .active a,
#navigation .primary-links .active a:visited,
#navigation .primary-links .active-trail a,
#navigation .primary-links .active-trail a:visited {
	color: #fff;
	background-color: #09F;
	background-position: 0 -38px;
	background-image: none;
}

#navigation .primary-links a,
#navigation .primary-links a:visited {
	background: none;
	color: #fff;
	-webkit-text-shadow: 0 1px 0 #333;
	-moz-text-shadow: 0 1px 0 #333;
	text-shadow: 0 1px 0 #333;
}

#navigation .primary-links li {
	padding-left: 3px;
	background: none;
}

#navigation .primary-links a:hover {
	color: #CCC;
	text-decoration: none;
}





/* Changes for the last primary menu item styles (help or LAST)*/
#navigation .primary-links li.last {
	float: none !important;
}

#navigation .primary-links li.last a {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}


/* kill the extra spacing on the color field */
#edit-field-header-color-0-value-wrapper{
	height: auto;
}
#edit-field-header-color-0-value{
	height: auto;
}

.category-link a{
	color: green;
}

#comments {
	display: none;
}


/* styling user profile page */
body.page-user .ud-region-header{
	margin: 15px 20px;
	padding: 10px 10px 0;
	width: auto;
	overflow: hidden;
	position: relative;
	line-height: 20px;
}

.field-ds-group-user-primaryinfo{
    margin-top: 2px;
}

.field-ds-group-user-primaryinfo .field-realname-area{
    font-size: 2.5em;
    color: #0070B6;
    margin-bottom: 7px;
}

.field-ds-group-user-primaryinfo .field-nd-location-name{
    color: #ccc;

    margin-bottom: 8px;
}


body.page-user .ud-region-header .field-picture{
	position: relative;
	margin: 0 20px 0px 0;
	float: left;
	background: white;
}

body.page-user .ud-region-header .field-picture img{
	padding: 4px;
	border: 1px solid #D0D0D0;
}

body.page-user .ud-region-middle{
	display: block;
	float: none;
	margin-right: 0;
	width: auto;
}

body.page-user .ud-region-middle .field-group{

}

body.page-user .ud-region-middle .field-group{
	border: 1px solid #E5E5E5;
	border-bottom: 0;
	background: white;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

body.page-user .quicktabs_tabs li h2 a{
	color: #595959 !important;
	float: none !important;
	line-height: 1em !important;
	font-size: 0.75em !important;
}

body.page-user .quicktabs-style-nostyle .block-title .title{
	display: none;
}

body.page-user .view-my-groups ul{
	margin-left: 10px;
}

body.page-user .view-my-groups ul li{
	list-style-type:disc;
}

.img-placeholder{
    overflow: hidden;
    padding: 4px;
    border: 1px solid #D0D0D0;
    background-color: white;
    margin: 0 -5px 9px -5px;
}

.img-placeholder .img{
    background-color: gray;
}

.img-placeholder .img span{
    display: block;
    vertical-align: middle;
    text-align: center;
    font-size: 9px;
}

.img-placeholder .img .cover{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
}

#page #group-page-block .field-content a{
    margin-right: 15px;
    text-decoration: none;
}

#quicktabs_container_mt_userprofile{
    margin: 20px;
}