.content-multiple-wrapper .content-multiple-footer:after,
.content-multiple-table .form-item:after,
.form-item-labeled:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

fieldset > div {
    padding: 10px 15px;
}

fieldset{
    border: 1px solid #CCC;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin: 20px 0;
    position: relative;
}

fieldset legend {
    background-color: #CCC;
    padding: 5px 10px;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    min-width: 140px;
    left: -1px;
    position: absolute;
    top: -25px;
}

/** thememing content-multiple-table **/

.content-multiple-wrapper{
    border-collapse: separate;
    border: 1px solid #CCC;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    margin: 20px 0;
    position: relative;
}

.content-multiple-wrapper .content-multiple-footer{
    border-top: 1px solid #E5E5E5;
    padding: 10px;
}

.content-multiple-wrapper .content-multiple-footer .content-add-more{
    float: right;
}

.content-multiple-wrapper .content-multiple-footer .description{
    float: left;
    vertical-align: middle;
}

.content-multiple-table{
    margin: 0px !important;
}

.content-multiple-table th,
.content-multiple-table td{
    border:none;
    padding: 5px 6px;
}

.content-multiple-table th,
.content-multiple-table tr{
    border-bottom: 1px solid #E5E5E5;
}

.content-multiple-table tbody tr:last-child{
    border:none;
}

.content-multiple-table thead th {
    color:#333333;
    text-transform:uppercase;
}

.content-multiple-table label {
    color:#424242;
    text-transform:uppercase;
}

.content-multiple-table .form-item{
    padding:0;
}

/** /theming content-multiple-table **/

/**
** removing fieldset legend for now
*/
#node-form fieldset legend {
    display: none;
}