/* CSS Document */

.center {margin: 0 auto;}
.main { background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F7F2E4;
    border-radius: 6px 6px 6px 6px;}
.mimemail-body{background: url(../images/common/bg-body.png) repeat-x #fff;}