/* Search */
#search-bar {
	float: right;
	width: 532px;
	margin: 30px 0 0 0;
}

#search-bar #block-google_cse-0, #search-bar .block-search {
	float: left;
}

#search-block-form #search .form-item, #block-google_cse-0 #search .form-item {
	margin: 0px;
}

#search-bar #block-boxes-add_stuff {
	float: right;
}

#search {
	float: left;
	width: 372px;
	height: 29px;
	padding: 4px;
	margin-right: 14px;
	background: url(../images/common/bg-search.png) no-repeat;
}

#search .form-item {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}


#search .submit-wrapper {
	float: left;
    margin-top: 0;
    padding-left: 0;
}

#search .form-text {
	border: none !important;
	width: 256px;
	height: 19px;
	float: left;
	padding: 5px 14px !important;
	font-size: 1.2em;
	line-height: 19px;
	background: #FFF !important;
	position: relative;
}

#search .button {
	display: block;
	border: 0;
	margin: 0;
	padding: 0 12px 0 0;
	position: relative;
	width: 88px;
	height: 29px;
	float: left;
	line-height: 29px;
	font-weight: bold;
	font-size: 1.2em;
	background: #ff6600 url(../images/common/btn-search.png) no-repeat;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 #c95405;
	vertical-align: middle;
	text-align: center;
}

#search .button span {
	padding: 0;
	display: inline;
	background: none;
	line-height: 29px;
	text-transform: none;
}

#search .button:hover,
#search .button.hover {
	color: #efefef;
}

#search input{border: none !important;}