/* Search */
#search-bar {
	float: right;
	width: 532px;
	margin: 30px 0 0 0;
}

/* Drupal Search styles*/
#search-bar .block-title,#search-bar .form-filter-ui{
    display: none;
}

#search-bar #block-google_cse-0, #search-bar .block-search {
	float: left;
}

#search-block-form #search .form-item, #block-google_cse-0 #search .form-item {
	margin: 0px;
}

#search-bar #block-boxes-add_stuff {
	float: right;
}

#search {
	float: left;
	width: 372px;
	height: 29px;
	padding: 4px;
	margin-right: 14px;
	background: url(../images/common/bg-search.png) no-repeat;
}

#search .form-item {
	float: left;
	margin: 0 2px 0 0;
	padding: 0;
}


#search .submit-wrapper {
	float: left;
    margin-top: 0;
    padding-left: 0;
}

#search .form-text {
	border: none !important;
	width: 256px;
	height: 19px;
	float: left;
	padding: 5px 14px !important;
	font-size: 1.2em;
	line-height: 19px;
	background: #FFF !important;
	position: relative;
}

/**
   @todo change button style to become css button instead of image
*/
#search .button {
	display: block;
	border: 0;
	margin: 0;
	padding: 0 12px 0 0;
	position: relative;
	width: 88px;
	height: 29px;
	float: left;
	line-height: 29px;
	font-weight: bold;
	font-size: 1.2em;
	background: #ff6600 url(../images/common/btn-search.png) no-repeat;
	cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 #c95405;
	vertical-align: middle;
	text-align: center;

    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}

#search .button span {
	padding: 0;
	display: inline;
	background: none;
	line-height: 29px;
	text-transform: none;
}

#search .button:hover,
#search .button.hover {
	color: #efefef;
}

#search input{border: none !important;}

/* Search page /search */
.page-search #search-form{
    width: 600px;
}

.page-search #search-form input{
    float: left;
    margin-right: 4px;
}
.page-search #search-form input.form-submit{
    line-height: 13px;
}

body.page-search #search-form label{
    text-transform: uppercase;
}

.page-search #search-form:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

body.page-search h1.page-title{
    display: none;
}

body.page-search h2.title{
    color: #676767;
    font-size: 13px;
}

.search-results{
    border-top-color: #E9E9E9;
    border-top-style: solid;
    border-top-width: 1px;
    margin-top: 10px;
    padding-top:  10px;
}

.search-results .result{
    width: 600px;
    margin-bottom: 35px;
}

.search-results .result .result-pic{
    float: left;
    margin-right: 10px;
    width: 62px;
    height: 100%;
}

.search-results .result .result-info{
    margin-left: 72px;
    font-size: 13px;
}

.search-results .result .result-info .title{
    font-size: 16px;
}
.search-results .result .result-info .title a{
    text-decoration: underline;
}

.search-results .result .result-info .search-url{
    color: green;
    font-weight: bold;
}