/** Tab styles **/
#tabs {
    background-color: transparent;
    margin-bottom: 5px;
}

#tabs ul.primary {
    float: right;
}

#tabs ul.primary, #tabs ul.secondary-tabs{
    font-size: 14px;
    background-color: transparent;
    margin-right: 4px;
    border: none;
}

#tabs ul.primary li {
    margin-right: 4px;
    border: solid 1px #FFDC9D;
}

#tabs ul.primary li a{
    height: 20px;
    padding: 4px 20px 0;
}

#tabs ul.primary li,#tabs ul.primary a {
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #8B8B8B;
    background: #FDFDFD;
}

#tabs ul.primary a:hover{
    border-color: #B4E1FD;
    background-color: #fff;
}

#tabs ul.primary a.active,#tabs ul.primary li.active{
    border-color: #B4E1FD;
    background-color: #fff;
    font-weight: normal;
    color: #333;
}


/* QuickTabs */
.tabs  ul {
    position: relative;
    z-index: 5;
}

.tabs ul.quicktabs_tabs li, .tabs li {
    float: left;
    padding: 0;
}

.tabs ul.quicktabs_tabs li a, .tabs li a {
    padding: 7px 15px 0;
    display: block;
    height: 22px;
    line-height: 1.2;
}

.tabs ul.quicktabs_tabs li.active, .tabs li.active {
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    background: #fff;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    behavior: url(/sites/default/themes/harlem2/PIE/PIE.htc);
}

.tabs ul.quicktabs_tabs li.active a, .tabs li.active a {
    padding: 6px 14px 0;
}

.tabs ul.quicktabs_tabs li h2, .tabs li h2 {
    float: none;
}
