/** Tab styles **/
#tabs {
    background-color: transparent;
    margin-bottom: 5px;
}

#tabs ul.primary {
    float: right;
}

#tabs ul.primary, #tabs ul.secondary-tabs{
    font-size: 14px;
    background-color: transparent;
    margin-right: 4px;
    border: none;
}

#tabs ul.primary li {
    margin-right: 4px;
    border: solid 1px #FFDC9D;
}

#tabs ul.primary li a{
    height: 20px;
    padding: 4px 20px 0;
}

#tabs ul.primary li,#tabs ul.primary a {
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #8B8B8B;
    background: #FDFDFD;
}

#tabs ul.primary a:hover{
    border-color: #B4E1FD;
    background-color: #fff;
}

#tabs ul.primary a.active,#tabs ul.primary li.active{
    border-color: #B4E1FD;
    background-color: #fff;
    font-weight: normal;
    color: #333;
}