.badge-1 {
  display: block;
  position: absolute;
  width: 66px;
  height: 64px;
  top: -43px;
  left: -34px;
  z-index: 2;
}

.badge-2 {
  display: block;
  position: absolute;
  width: 66px;
  height: 64px;
  top: -3px;
  right: -11px;
  z-index: 2;
}

/* Specific styles for Badges on GethealthyHarlem.  It must be changed in each sites.*/

/*RIGHT BADGE*/

span.badge-2.badge-term-harlem-word {
	background-position: 0 0 !important;
}

span.badge-2.badge-term-did-you-know-{
	background-position: 0 -64px !important;
}

span.badge-2.badge-term-profiles-of-hope {
	background-position: 0 -128px !important;
}

/*LEFT BADGE*/

span.badge-1.badge-term-harlem-word {
	background-position: -66px 0 !important;
}
span.badge-1.badge-term-did-you-know- {
	background-position: -66px -64px !important;
}
span.badge-1.badge-term-profiles-of-hope {
	background-position: -66px -128px !important;
}