<?php


/* This file stores the local settings of the Drupal site */

/* Duplicate this file as local.settings.php and change the information
 * below to match your local settings configuration
 */

$db_url = array(
                'default' => 'mysql://jewishi_web:d202ijii@localhost/jewishi_web',
        );

/**
 * Base URL (optional).
 *
 * If you are experiencing issues with different site domains,
 * uncomment the Base URL statement below (remove the leading hash sign)
 * and fill in the URL to your Drupal installation.
 *
 * You might also want to force users to use a given domain.
 * See the .htaccess file for more information.
 *
 * Examples:
 *   $base_url = 'http://www.example.com';
 *   $base_url = 'http://www.example.com:8888';
 *   $base_url = 'http://www.example.com/drupal';
 *   $base_url = 'https://www.example.com:8888/drupal';
 *
 * It is not allowed to have a trailing slash; Drupal will add it
 * for you.
 */

# $base_url = 'http://www.sample.org';  // NO trailing slash!
