div.default-location-wrapper.hidden {
    display: none;
}

.group-place fieldset.location{
    border: none;
    margin: 0px;
}

.group-place fieldset.location .fieldset-content{
    padding: 0px;
}

#edit-field-place-choice-value--wrapper{
    display: none;
}

.group-place .form-radios{
    margin-top: 10px;
}
.group-place .form-radios .form-radio{
    display: none;
}

.group-place .form-radios label{
    color: #007EFF !important;
    cursor: pointer;
    margin-right: 5px;
    padding: 10px 5px;
}

.group-place .form-radios label.active{
    color: #000000 !important;
    font-weight: bold;
    cursor: auto;
}

.group-place .form-radios .form-item{
    float: left;
    margin-right: 10px;
}

.group-place .form-radios:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.group-place #edit-field-place-0-nid-nid-wrapper label{
    display: none;
}